<div class="row">
    <div class="col-xs-12">
        <textarea name="" id="myTextarea" cols="30" rows="10" style="height: calc(100vh - 75px);"></textarea>
    </div>
</div>

<div class="js-code-modal source-code hidden">
    <div class="code-wrapper">
        <textarea class="js-code code" autofocus></textarea>
    </div>
    <div class="buttons">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar pull-right">
                    <button class="js-hide-source btn btn-warning">
                        Закрыть
                    </button>
                    <button class="js-apply-source btn btn-success">
                        Применить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>