<div style="padding: 15px;">
    <div class="row">
        <div class="col-xs-6">
            <input type="file" class="input-file" multiple>
        </div>
        <div class="col-xs-6">
            <button type="button" class="js-close-images btn btn-success pull-right">Закрыть</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 js-image-wrapper image-wrapper js-image-wrapper"></div>
    </div>
</div>


