<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div contenteditable="true" class="js-editor my-editor"></div>
        </div>
    </div>
</div>

<div class="fragment-region"></div>
<div class="images-region js-images-view images-view hidden"></div>

<div class="button-for-images js-open-images">Img</div>

<form action="" class="js-select-form select-form">
    <div class="save-modal-wrapper js-save-modal-wrapper hidden">
        <div class="center-block save-modal">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control js-path" autofocus placeholder="Путь к узлу">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="js-structure structure col-xs-12">

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" class="js-cancel-save-modal btn btn-warning btn-block">Отмена</a>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-success btn-block">Выбрать</button>
                </div>
            </div>
        </div>
    </div>
</form>