<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Горячие клавиши</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <kbd>Cmd</kbd> + <kbd>S</kbd>
                        </td>
                        <td>Сохранить саммари</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>Cmd</kbd> + <kbd>H</kbd>
                        </td>
                        <td>Выбрать выделенный блок текста</td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>Cmd</kbd> + <kbd>E</kbd>
                        </td>
                        <td>Сделать редактор в фокусе</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
