<body class="c30"><p class="c14 c21" id="h.gjdgxs"><span class="c2">26-0441-03</span></p>
<p class="c21 c14"><span class="c2 c41">Э. М.&nbsp;Береговская</span></p>
<p class="c21 c14"><span class="c2">Французский язык. IV&nbsp;класс.</span></p>
<p class="c21 c14"><span class="c2">Учебник для общеобразовательных организаций и школ с углублённым изучением французского языка. В двух частях. </span>
</p>
<p class="c21 c14"><span class="c2">Часть&nbsp;1</span></p>
<p class="c21 c14"><span class="c3">Серия «Французский в перспективе»</span></p>
<p class="c21 c14 c4"><span class="c2"></span></p>
<p class="c25"><span class="c2 c7">I. ЛЕВОЕ МЕНЮ УЧЕБНИКА (список блоков и входящих в них уроков)</span></p>
<p class="c25"><span class="c2">Unité 1. L’école nous ouvre ses portes</span></p>
<ul class="c17 lst-kix_list_40-0 start">
    <li class="c19 c9"><span class="c2">Lecture 1</span></li>
    <li class="c19 c9"><span class="c2">Lecture 2</span></li>
    <li class="c19 c9"><span class="c2">Lecture 3</span></li>
    <li class="c19 c9"><span class="c2">Lecture 4</span></li>
    <li class="c19 c9"><span class="c2">Révision</span></li>
</ul>
<p class="c19 c12 c4"><span class="c5"></span></p>
<p class="c25 c4"><span class="c2"></span></p>
<p class="c25"><span class="c2">Unité 2. La famille Dumoulin</span></p>
<ul class="c17 lst-kix_list_40-0">
    <li class="c19 c9"><span class="c2">Lecture 1</span></li>
    <li class="c19 c9"><span class="c2">Lecture 2</span></li>
    <li class="c19 c9"><span class="c2">Révision</span></li>
</ul>
<p class="c25 c4"><span class="c2"></span></p>
<p class="c25"><span class="c2">Unité 3. Chez nous</span></p>
<ul class="c17 lst-kix_list_40-0">
    <li class="c9 c19"><span class="c2">Lecture 1</span></li>
    <li class="c19 c9"><span class="c2">Lecture 2</span></li>
    <li class="c19 c9"><span class="c2">Lecture 3</span></li>
    <li class="c19 c9"><span class="c2">Révision</span></li>
</ul>
<p class="c4 c25"><span class="c2"></span></p>
<p class="c25"><span class="c2">Unité 4. A table</span></p>
<ul class="c17 lst-kix_list_40-0">
    <li class="c19 c9"><span class="c2">Lecture 1</span></li>
    <li class="c19 c9"><span class="c2">Lecture 2</span></li>
    <li class="c19 c9"><span class="c2">Lecture 3</span></li>
    <li class="c19 c9"><span class="c2">Révision</span></li>
</ul>
<p class="c25 c4"><span class="c2"></span></p>
<p class="c25"><span class="c2">Unité 5. Du matin jusqu’au soir</span></p>
<ul class="c17 lst-kix_list_40-0">
    <li class="c19 c9"><span class="c2">Lecture 1</span></li>
    <li class="c19 c9"><span class="c2">Lecture 2</span></li>
    <li class="c19 c9"><span class="c2">Révision</span></li>
</ul>
<p class="c25 c4"><span class="c2"></span></p>
<p class="c25"><span class="c2">Vocabulaire </span><span class="c2 c6">(правое меню)</span></p><a
        id="t.f383eab64ff7a4d6180f9015bd197a7334c2b387"></a><a id="t.0"></a>
<table class="c40">
    <tbody>
    <tr class="c42">
        <td class="c35" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_list_39-0 start" start="1">
                <li class="c28 c25 c12"><span class="c5 c11">Внимание!</span><span
                        class="c5 c7">&nbsp;Названия блоков </span><span class="c5 c11">=</span><span class="c29 c5 c7">&nbsp;подписи к иллюстрациям модулей!</span>
                </li>
                <li class="c25 c12 c28"><span class="c5 c7">Список иконок </span><span class="c2 c7">аудио </span><span
                        class="c2 c37">ИКОНКИ прилагаются</span></li>
            </ol>
            <ul class="c17 lst-kix_list_2-0 start">
                <li class="c33 c25"><span class="c5 c7">Texte . </span><span class="c5 c11 c15">В качестве иллюстрации взять логотип рубрики из учебника на стр. 8. Далее данный рисунок необходимо давать в заданиях данного типа)</span>
                </li>
                <li class="c33 c25"><span class="c5 c7">Chanson </span><span class="c5 c11 c15">В качестве иллюстрации взять логотип рубрики из учебника на стр. 12. Далее данный рисунок необходимо давать в заданиях данного типа)</span>
                </li>
                <li class="c25 c33"><span class="c5 c7">Poésie </span><span class="c5 c11 c15">В качестве иллюстрации взять логотип рубрики из учебника на стр. 11. Далее данный рисунок необходимо давать в заданиях данного типа)</span>
                </li>
            </ul>
            <ol class="c17 lst-kix_list_1-0 start" start="1">
                <li class="c28 c25 c12"><span class="c5 c7">Grammaire </span><span class="c5 c11 c15">В качестве иллюстрации взять логотип рубрики из учебника на стр. 13. Далее данный рисунок необходимо давать в заданиях данного типа)</span>
                </li>
                <li class="c28 c25 c12"><span class="c5 c23">Jouez les scenes </span><span class="c5 c11 c15">В качестве иллюстрации взять логотип рубрики из учебника на стр. 56, часть 1, третий снизу. Далее данный рисунок необходимо давать в заданиях данного типа)</span>
                </li>
            </ol>
            <p class="c25 c4 c32"><span class="c39 c5 c23 c15"></span></p>
            <p class="c27 c25 c4"><span class="c2 c34 c8"></span></p>
            <p class="c27 c25 c4"><span class="c2 c8 c34"></span></p>
            <p class="c27 c25 c4"><span class="c2 c34 c8"></span></p>
            <p class="c25 c4 c27"><span class="c2 c34 c8"></span></p></td>
    </tr>
    </tbody>
</table>
<p class="c1"><span class="c2 c11">Unité 1</span></p>
<p class="c1"><span class="c2 c7">ЦЕНТРАЛЬНОЕ ОКНО: </span><span class="c5 c7">УЧЕБНЫЙ МАТЕРИАЛ</span><span
        class="c2 c7">&nbsp;К Unité 1.</span><span class="c5 c7">&nbsp;</span></p>
<p class="c1 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c0">Главное саммари</span><span class="c5 c7 c13">&nbsp;к Unité 1. L’école nous ouvre ses portes! &nbsp; </span>
</p>
<p class="c1"><span class="c5 c8">В первом уроке вы научитесь:</span></p>
<ul class="c17 lst-kix_list_15-0 start">
    <li class="c1 c22"><span class="c5">расспрашивать одноклассника о начале учебного года во Франции;</span></li>
    <li class="c1 c22"><span class="c5">рассказывать о своей школе, описывать свой класс; рассказывать о занятиях на уроке и на перемене;</span>
    </li>
    <li class="c1 c22"><span class="c5">разыгрывать сценки;</span></li>
    <li class="c1 c22"><span class="c5">воспринимать на слух, повторять за диктором тексты стихотворений и песен, диалоги и небольшие тексты урока;</span>
    </li>
    <li class="c1 c22 c31"><span class="c5">понимать передаваемую информацию по теме. Тексты «La rentrée», «Notre classe», «Georges et Jeanne en récréation» и&nbsp;др.;</span>
    </li>
    <li class="c1 c22 c31"><span
            class="c5">узнавать и использовать в речи présent и passé composé глаголов 1 группы.</span></li>
</ul>
<p class="c1"><span
        class="c5">В данном уроке вы познакомитесь с играми французских детей, с французскими именами.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c0">Рис. со с. 3 учебника.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5 c7 c13">МАТЕРИАЛ К </span><span class="c0">УРОКАМ</span><span class="c5 c7 c13">&nbsp;ВНУТРИ</span><span
        class="c0">&nbsp;БЛОКА 1.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Lecture 1 </span><span class="c2 c13 c36">(в качестве рисунка к разделу взять рис. из учебника со с. 8) </span>
</p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1 c14"><span class="c2">La rentrée</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">L’automne commence. C’est le premier septembre. Les arbres sont encore verts, dans les jardins il y a beau-coup de fleurs. Il fait encore chaud.</span>
</p>
<p class="c1"><span class="c5">C’est une école. Sa grande porte est ouverte. Les élèves arrivent à l’école de tous les côtés. Voici un home qui est arrivé avec un petit garçon. Voilà une femme qui est arrivée avec sa fillette. Et regardez notre ami Pierre: il est arrivé seul, c’est déjà un grand garçon, il a 9 ans.</span>
</p>
<p class="c1"><span class="c5">Pierre est très content: dans la cour de l’école, il a trouvé ses copains. Les amis ont parlé.</span>
</p>
<p class="c1"><span class="c5">A 8 heures 30 (trente), la cloche a sonné. Quelques minutes ont passé, le maître est entré et la première leçon a commencé.</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1</span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 02 (02) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Lis le texte et dis: avec qui le petit garçon et la petite fille sont arrivés à l’école le premier septembre. Et Pierre?</span>
</p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Trouve dans le texte les phrases au passé composé.</span>
</p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Poésie </span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span></p>
<p class="c1"><span class="c0">Аудиотрек 04 (04) </span></p>
<p class="c1 c18"><span class="c3">Marie Tenaille</span></p>
<p class="c1 c14"><span class="c2">Feuilles d’automne</span></p>
<p class="c1 c14"><span class="c5">Feuilles d’automne</span></p>
<p class="c1 c14"><span class="c5">Folles, folles!</span></p>
<p class="c1 c14"><span class="c5">Un coup de vent…</span></p>
<p class="c1 c14"><span class="c5">Elles s’envolent!</span></p>
<p class="c1 c14"><span class="c5">La plus belle</span></p>
<p class="c1 c14"><span class="c5">Et la plus folle,</span></p>
<p class="c1 c14"><span class="c5">Je l’attrape,</span></p>
<p class="c1 c14"><span class="c5">Je la colle</span></p>
<p class="c1 c14"><span class="c5">Et je l’apporte</span></p>
<p class="c1 c14"><span class="c5">A l’école!</span></p>
<p class="c1"><span class="c2 c11">Дать илл. со с.11 — оформить как в учебнике на с.11</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 3 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c2">1</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span>
</p>
<p class="c1"><span
        class="c2 c13 c23">Уважаемые коллеги! Просьба оформить правило как показано в учебнике на стр. 12</span><span
        class="c2 c23">&nbsp;</span></p>
<p class="c1 c4"><span class="c0"></span></p>
<p class="c1"><span class="c0">Задание.</span><span class="c2">&nbsp;Après l’école, nous allons au zoo. Le petit Nicolas vient avec nous. </span>
</p>
<p class="c1 c14"><span class="c2">Je montre à Nicolas un singe.</span></p>
<p class="c1"><span class="c2">Continue!</span></p>
<p class="c1"><span class="c5">Tu … un éléphant.</span></p>
<p class="c1"><span class="c5">Il … une girafe.</span></p>
<p class="c1"><span class="c5">Elle … un tigre.</span></p>
<p class="c1"><span class="c5">Nous … un kangourou.</span></p>
<p class="c1"><span class="c5">Vous … un ours.</span></p>
<p class="c1"><span class="c5">Ils … un loup.</span></p>
<p class="c1"><span class="c5">Elles … un zèbre.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 4 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2 c8">Chanson</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 05 (05) </span></p>
<p class="c1 c14"><span class="c2">L’automne</span></p>
<p class="c1 c14"><span class="c5">L’automne est une chanson de la pluie.</span></p>
<p class="c1 c14"><span class="c5">Ouvre donc, ouvre donc</span></p>
<p class="c1 c14"><span class="c5">Ton parapluie, ton parapluie!</span></p>
<p class="c1"><span class="c2 c11">Дать илл. со с.12 — оформить как в учебнике на с.12</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 5 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c2">2</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span>
</p>
<p class="c1"><span
        class="c2 c23 c13">Уважаемые коллеги! Просьба дать 2 правила как показано в учебнике на стр. 13</span></p>
<p class="c1"><span class="c5 c6">Задание.</span><span class="c5">&nbsp;</span><span class="c2">Mets les verbes au passé composé.</span>
</p>
<p class="c1"><span class="c5">Anatole et son frère aîné André </span><span class="c2">monter</span><span class="c5">&nbsp;au 2e étage pour jouer avec leur voisin Serge. Ils </span><span
        class="c2">entrer</span><span class="c5">&nbsp;dans son appartement et ils </span><span
        class="c2">commencer</span><span class="c5">&nbsp;à jouer au loto. Tout</span></p>
<p class="c1"><span class="c5">à coup, Anatole </span><span class="c2">demander</span><span class="c5">&nbsp;: «Et où est la carte avec les fruits? Ah! Elle </span><span
        class="c2">tomber </span><span class="c5">sous la table!» Les garcons </span><span class="c2">jouer</span><span
        class="c5">&nbsp;pendant une heure. Puis, Anatole </span><span class="c2">rentrer</span><span class="c5">&nbsp;à la</span>
</p>
<p class="c1"><span class="c5">maison, et André </span><span class="c2">rester</span><span
        class="c5">&nbsp;chez Serge.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c11 c24">____</span><span class="c2 c11">&nbsp;Внимание! </span><span class="c5 c11">Так будет помечено </span><span
        class="c2 c11">окончание</span><span class="c5 c11">&nbsp;содержания каждого раздела внутри блока</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Lecture 2 </span><span class="c2 c13 c36">(в качестве рисунка к разделу взять рис. из учебника со с. 16)</span>
</p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">Notre classe</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5">Le maître dit aux élèves:</span></p>
<p class="c1"><span class="c5">— Je vous lis trois devoirs. Vous me direz lequel de ces devoirs vous plaît le plus. Ecoutez!</span>
</p>
<p class="c1"><span class="c2">Premier devoir.</span><span class="c5">&nbsp;Notre salle de classe a quatre murs, un plafond, un plancher, deux fenêtres et une porte. Dans notre classe il y a des tables pour les écoliers. Il y a aussi la table du maître. Au mur, il y a un tableau noir, des portraits et des cartes, et au plafond&nbsp;— des lampes.</span>
</p>
<p class="c1"><span class="c2">Deuxième devoir.</span><span class="c5">&nbsp;Notre classe est une grande salle blanche et claire. Les fenêtres sont larges. Aux fenêtres il y a des fleurs. Notre salle de classe est très jolie.</span>
</p>
<p class="c1"><span class="c2">Troisième devoir.</span><span class="c5">&nbsp;Notre classe?... Ce n’est pas le plancher, le plafond, ce ne sont pas les murs et les fenêtres.</span>
</p>
<p class="c1"><span class="c5">Ce sont les élèves et les maîtres. Il y a quarante élèves dans notre classe. Ce sont mes copains. En classe, nous travaillons. Pendant les récréations, nous jouons. Notre classe est une grande famille. J’aime notre classe.</span>
</p>
<p class="c1"><span class="c5">Vive notre classe!</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 06 (06) </span></p>
<ol class="c17 lst-kix_list_41-0 start" start="1">
    <li class="c1 c9"><span
            class="c2">Lis le texte «Notre classe». Fais un dessin pour illustrer le premier devoir.</span></li>
    <li class="c1 c9"><span class="c2">Copie le troisième devoir du texte «Notre classe».</span></li>
    <li class="c1 c9"><span class="c2">Parle de ta classe.</span></li>
</ol>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Poésie </span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span></p>
<p class="c1"><span class="c0">Аудиотрек 07 (07) </span></p>
<p class="c1 c18"><span class="c3">Maurice Carême</span></p>
<p class="c1 c14"><span class="c2">Le soleil descend</span></p>
<p class="c1 c14"><span class="c5">Assis sur mon banc,</span></p>
<p class="c1 c14"><span class="c5">Je fais mon devoir,</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Le soleil descend</span></p>
<p class="c1 c14"><span class="c5">Sur le boulevard,</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Sur les grands murs blancs,</span></p>
<p class="c1 c14"><span class="c5">Sur l’asphalte noir.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Mon petit chien blanc</span></p>
<p class="c1 c14"><span class="c5">N’est déjà plus blanc.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Mon petit chat noir</span></p>
<p class="c1 c14"><span class="c5">N’est déjà plus noir.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Plus rien n’est tout blanc,</span></p>
<p class="c1 c14"><span class="c5">Plus rien n’est tout noir.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Tout est gris.</span></p>
<p class="c1 c14"><span class="c5">Bonsoir.</span></p>
<p class="c1"><span class="c2 c11 c13">Уважаемые коллеги, просьба дать шесть маленьких иллюстраций из учебника на стр. 19</span>
</p>
<p class="c1"><span class="c2 c11">_____________</span></p>
<p class="c1"><span class="c2">Lecture 3 </span><span class="c2 c13 c36">(в качестве рисунка к разделу взять рис. из учебника со с. 27) </span>
</p>
<p class="c1 c14"><span class="c2 c7">Подрис. подпись:</span><span class="c2">&nbsp;Lecture 3</span></p>
<p class="c1 c14"><span class="c2">En classe</span></p>
<p class="c1"><span class="c5">1. Les élèves sont entrés en classe. Georges prend place à côté de son copain Henri. Il ouvre et ferme ses livres et son cahier, puis il les met sur sa table. La classe est très belle avec ses larges fenêtres, ses murs bleus et le joli bouquet de fleurs rouges et blanches qui orne la table du maître.</span>
</p>
<p class="c1"><span class="c5">Monsieur Devarenne a demandé:</span></p>
<p class="c1"><span class="c5">— Qui veut réciter la poésie?</span></p>
<p class="c1"><span class="c5">Beaucoup de mains se lèvent.</span></p>
<p class="c1"><span class="c5">— A toi, Dufour, dit le maître.</span></p>
<p class="c1"><span
        class="c5">Dufour vient au tableau et commence à réciter. Ses copains l’écoutent attentivement.</span></p>
<p class="c1"><span class="c5">— Très bien, Dufour! dit le maître quand il finit.</span></p>
<p class="c1"><span class="c5">Dufour est allé à sa place, rouge de plaisir.</span></p>
<p class="c1"><span
        class="c5">Encore quatre enfants ont récité la poésie après Dufour. Monsieur Devarenne est content.</span></p>
<p class="c1"><span class="c5">2. Ensuite, vient le calcul. Le maître demande:</span></p>
<p class="c1"><span class="c5">— Combien font 42 et 30?</span></p>
<p class="c1"><span class="c5">C’est facile. Quelques secondes passent et chaque élève sait la réponse, chaque élève est prêt à répondre.</span>
</p>
<p class="c1"><span class="c5">Le maître continue:</span></p>
<p class="c1"><span class="c5">— 4 fois 5, Ledoux?</span></p>
<p class="c1"><span class="c5">— 20, répond Ledoux.</span></p>
<p class="c1"><span class="c5">— 8 fois 6, Lacaze?</span></p>
<p class="c1"><span class="c5">— 45, dit Lacaze.</span></p>
<p class="c1"><span class="c5">Georges lève la main.</span></p>
<p class="c1"><span class="c5">— 48! corrige-t-il.</span></p>
<p class="c1"><span class="c5">Maintenant, monsieur Devarenne écrit un problème au tableau. Les élèves prennent leurs cahiers et font le problème. Georges aime le calcul. Ce n’est pas un problème facile, mais il finit le premier.</span>
</p>
<p class="c1"><span class="c5">— Bravo! lui dit monsieur Devarenne.</span></p>
<p class="c1 c18"><span class="c3">D’après M. Reynier</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 09 (09) </span></p>
<ol class="c17 lst-kix_list_42-0 start" start="1">
    <li class="c1 c9"><span class="c2">&nbsp;Lis le récit «En classe» et dis: combien d’élèves récitent la poésie. Combien d’exercices et de problèmes le maître donne à ses élèves?</span>
    </li>
    <li class="c1 c9"><span class="c2">Réponds aux questions:</span></li>
</ol>
<ul class="c17 lst-kix_list_43-0 start">
    <li class="c1 c9"><span class="c5">Qui récite la poésie?</span></li>
    <li class="c1 c9"><span class="c5">Que fait Georges quand il entre en classe?</span></li>
    <li class="c1 c9"><span class="c5">Comment s’appelle son copain? Comment est sa classe?</span></li>
    <li class="c1 c9"><span class="c5">De quelle couleur sont les fleurs sur la table du maître?</span></li>
    <li class="c1 c9"><span class="c5">Quand les élèves lèvent la main?</span></li>
    <li class="c1 c9"><span class="c5">Où est-ce que Georges met ses livres et ses cahiers?</span></li>
    <li class="c1 c9"><span class="c5">Pourquoi est-ce que monsieur Devarenne est content?</span></li>
    <li class="c1 c9"><span class="c5">Combien d’élèves lèvent la main?</span></li>
</ul>
<p class="c1 c4"><span class="c2 c6"></span></p>
<p class="c1"><span class="c2 c7">Иконка2 </span></p>
<p class="c1"><span class="c0">Тип: Разыграйте сценку</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2 c8">Jouez les scènes</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<p class="c1"><span class="c2">Jouez la petite scène: les élèves de monsieur Devarenne récitent la poésie. Pour monsieur Devarenne utilisez les répliques suivantes:</span>
</p>
<ul class="c17 lst-kix_list_45-0 start">
    <li class="c1 c16"><span class="c5">Qui veut réciter la poésie?</span></li>
    <li class="c1 c16"><span class="c5">A toi, Dufour (ou Lacaze, Leblanc…).</span></li>
    <li class="c1 c16"><span class="c5">Très bien!</span></li>
    <li class="c1 c16"><span class="c5">Bravo!</span></li>
    <li class="c1 c16"><span class="c5">Va à ta place, c’est bien.</span></li>
</ul>
<p class="c1 c12 c4"><span class="c2 c11"></span></p>
<p class="c1"><span class="c5 c11">____________</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Lecture 4 </span><span class="c2 c13 c36">(в качестве рисунка к разделу взять рис. из учебника со с. 27) </span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c2">Georges et Jeanne en recreation</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Lis le texte et dis: à quoi jouent les enfants?</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">&nbsp;Georges et ses amis jouent au football. Georges et sa sœur Jeanne sont de bons élèves. Ils aiment travailler en classe, mais ils aiment aussi jouer. La recreation est toujours, pour eux, un grand plaisir. Pendant la récréation, les enfants jouent dans la cour. Les petits font une ronde et chantent. D’autres enfants sautent à la corde et jouent à la balle, à la marelle, au football.</span>
</p>
<p class="c1"><span class="c5">«Jouons au football!» dit Pascal, un ami de Georges.Georges appelle quelques copains et ils commencent à jouer. Mais déjà la cloche sonne: la récré est finie. Il faut rentrer en classe.</span>
</p>
<p class="c1 c18"><span class="c3">D’après M. Reynier</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 12 (12) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Lis le texte et dis: à quoi jouent les enfants?</span>
</p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Réponds aux questions:</span></p>
<p class="c1"><span class="c5">Tu aimes la récré?</span></p>
<p class="c1"><span class="c5">A quoi est-ce que vous jouez après les classes?</span></p>
<p class="c1"><span class="c5">Est-ce que les filles jouent au football?</span></p>
<p class="c1"><span class="c5">Est-ce que les garçons sautent à la corde? jouent à cache-cache?</span></p>
<p class="c1"><span class="c5">Tu as une corde à sauter?</span></p>
<p class="c1"><span class="c5">Avec qui est-ce que tu joues pendant la récré?</span></p>
<p class="c1"><span class="c5">Combien de récréations avez-vous chaque jour?</span></p>
<p class="c1"><span class="c5">Tu as mangé pendant la récré?</span></p>
<p class="c1"><span class="c5 c11">________</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Révision </span><span class="c2 c23 c13">(</span><span class="c2 c11 c13">в качестве рисунка взять фото из печатного учебника на стр. 27 фото мальчика)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Devinettes</span></p>
<ul class="c17 lst-kix_list_46-0 start">
    <li class="c1 c9"><span class="c5">Elle est en métal. Elle sonne. Elle nous dit que la leçon commence.</span></li>
</ul>
<p class="c1"><span class="c5">Qu’est-ce que c’est?</span></p>
<ul class="c17 lst-kix_list_46-0">
    <li class="c1 c9"><span class="c5">Le ciel est gris. Les feuilles tombent. Les arbres sont rouges et jaunes.</span>
    </li>
</ul>
<p class="c1"><span class="c5">Qu’est-ce que c’est?</span></p>
<ul class="c17 lst-kix_list_46-0">
    <li class="c1 c9"><span class="c5">Je la lis. Je l’apprends. Je la récite pendant une fête. Mes amis disent «Bravo!» et applaudissent.</span>
    </li>
</ul>
<p class="c1"><span class="c5">Qu’est-ce que c’est?</span></p>
<ul class="c17 lst-kix_list_46-0">
    <li class="c1 c9"><span class="c5">Elle est verte ou bleue. Elle est en classe. Quand j’écris, je mets sur elle mon cahier.</span>
    </li>
</ul>
<p class="c1"><span class="c5">Qu’est-ce que c’est?</span></p>
<ul class="c17 lst-kix_list_46-0">
    <li class="c1 c9"><span class="c5">Elle vient après la leçon. Quand elle vient, tous les élèves sortent dans le couloir ou dans la cour. Je l’aime bien. </span>
    </li>
</ul>
<p class="c1"><span class="c5">Qu’est-ce que c’est?</span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1"><span class="c2 c11">Unité 2</span></p>
<p class="c1"><span class="c2 c7">ЦЕНТРАЛЬНОЕ ОКНО: </span><span class="c5 c7">УЧЕБНЫЙ МАТЕРИАЛ</span><span
        class="c2 c7">&nbsp;К Unité 2.</span><span class="c5 c7">&nbsp;</span></p>
<p class="c1 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c0">Главное саммари</span><span
        class="c5 c7 c13">&nbsp;к Unité 2. La famille Dumoulin!</span></p>
<p class="c1"><span class="c5 c8">Во втором уроке вы научитесь:</span></p>
<ul class="c17 lst-kix_list_15-0">
    <li class="c1 c22"><span class="c5 c8">расспрашивать друга о семье;</span></li>
    <li class="c1 c22"><span class="c5 c8">рассказывать о своей семье: сколько человек в семье, есть ли брат или сестра, как их зовут, сколько им лет;</span>
    </li>
    <li class="c1 c22"><span
            class="c5">рассказывать о себе: сколько лет, какой рост, любимая одежда, любимые занятия; </span></li>
    <li class="c1 c22"><span class="c5">разыгрывать сценки;</span></li>
    <li class="c1 c22"><span class="c5 c8">вы научитесь воспринимать на слух: короткие стихи, песни, упражнения, диалоги и тексты блока с опорой и без опоры на текст;</span>
    </li>
    <li class="c1 c22 c31"><span class="c5">&nbsp;понимать передаваемую информацию по теме. Тексты «Jacques Dumoulin et sa famille», «Le petit malade» и&nbsp;др.;</span>
    </li>
    <li class="c1 c22 c31"><span class="c5">&nbsp;узнавать и использовать в речи настоящее время глаголов </span><span
            class="c2">mettre</span><span class="c5">&nbsp;и </span><span class="c2">prendre</span><span
            class="c5">.</span></li>
</ul>
<p class="c1"><span class="c2 c11 c13">Рис. со с. 32 учебника.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5 c7 c13">&nbsp;МАТЕРИАЛ К </span><span class="c0">УРОКАМ</span><span class="c5 c7 c13">&nbsp;ВНУТРИ</span><span
        class="c0">&nbsp;БЛОКА 2.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Lecture 1 </span><span class="c2 c11 c13">(в качестве рисунка к разделу взять рис. из учебника со с. 41 последний) </span><span
        class="c2 c11">Подрис подпись:</span><span class="c2">&nbsp;Lecture 1</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1 c14"><span class="c2">Jacques Dumoulin et sa famille</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">1. La famille Dumoulin habite au milieu du village, une jolie petite maison. Devant la maison, il y a un jardin et une cour par derrière. Monsieur et Madame Dumoulin ont trois enfants: Jacques, Colette et Michel. Jacques a dix ans. Il n’est pas très grand pour son âge, mais il est fort. En ce moment de l’année où il ne fait pas très froid, il porte un jean et un beau pull. Il a des baskets aux pieds. La sœur aînée de Jacques s’appelle Colette. Elle a douze ans. Colette ressemble à sa mère. Elle est jolie avec ses cheveux blonds, ses yeux gris, sa robe aux couleurs claires. Elle aime s’amuser et rire. Michel, le petit frère, a quatre ans. Il joue toute la journée. Il pose des questions à tout le monde. Parfois il pleure, mais vous savez, tous les petits pleurent parfois.</span>
</p>
<p class="c1"><span class="c5">2. Jacques et Colette vont ensemble à l’école du village. C’est maman qui les réveille le matin. Maman se lève toujours la première. Elle prépare le déjeuner pour papa et pour les enfants. Elle est travailleuse, maman! Et gaie! Elle aime s’amuser avec les enfants comme une grande sœur.</span>
</p>
<p class="c1"><span class="c5">Quand Jacques et Colette se lèvent, papa n’est pas à la maison: il est déjà au travail. Papa est mécanicien. L’atelier de papa est plein de machines: des tracteurs,</span>
</p>
<p class="c1"><span class="c5">des vélos, des moteurs. Grand-mère et grand-père sont vieux tous les deux,</span></p>
<p class="c1"><span class="c5">mais ils sont encore solides. Grand-père connaît beaucoup de belles histoires. Quand il raconte une histoire, les enfants sont prêts à l’écouter toute la nuit.</span>
</p>
<p class="c1 c18"><span class="c3">D’après A. Davesne</span></p>
<p class="c1 c4 c18"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 02 (17) </span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">1. Trouve dans le texte les phrases qui parlent de Michel.</span></p>
<p class="c1"><span class="c2">2. Réponds aux questions:</span></p>
<ul class="c17 lst-kix_list_27-0 start">
    <li class="c1 c20"><span class="c5">Où habite la famille Dumoulin? Qu’est-ce qu’il y a devant la maison? Où est la cour? Quel âge a Jacques? Est-ce qu’il est fort? Qu’est-ce qu’il porte en automne? Qu’est-ce qu’il a aux pieds? Comment s’appelle sa sœur aînée? son petit frère? Qui aime poser des questions à tout le monde?</span>
    </li>
    <li class="c1 c20"><span class="c5">Où vont Jacques et Colette le matin? Qui les réveille? Qu’est-ce que maman prépare pour les enfants? Est-ce que la mère de Jacques et de Colette est gaie? Elle aime travailler? Où est le père de Jacques et de Colette quand ils se lèvent? Il est maître d’école? Il est jeune ou vieux? Qu’est-ce qu’il y a dans son atelier? Qui encore habite avec Jacques, Colette et Michel?</span>
    </li>
</ul>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Poésie</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 01 (16) </span></p>
<p class="c1 c18"><span class="c3">Aline Bay</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">La mère</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c5">Des milliers d’étoiles dans le ciel,</span></p>
<p class="c1 c14"><span class="c5">Des milliers d’oiseaux dans les arbres,</span></p>
<p class="c1 c14"><span class="c5">Des milliers de fleurs au jardin,</span></p>
<p class="c1 c14"><span class="c5">Des milliers de coquillages sur la plage,</span></p>
<p class="c1 c14"><span class="c5">Des milliers de poissons dans les mers,</span></p>
<p class="c1 c14"><span class="c5">Et seulement, seulement une mère.</span></p>
<p class="c1 c14 c4"><span class="c2 c11"></span></p>
<p class="c1 c14"><span class="c43 c11">Дать илл. со с.37 — оформить как в учебнике на с. 37 </span></p>
<p class="c1 c14 c4"><span class="c2 c11"></span></p>
<p class="c1 c14 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 3 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_38-0 start">
    <li class="c1 c9"><span class="c5 c11 c13">Уважаемые коллеги! Просьба оформить правило 1 как показано в учебнике на стр. 37</span><span
            class="c5 c11">&nbsp;</span></li>
</ul>
<p class="c1 c26"><span class="c2 c6">Задание </span><span class="c2">Dis:</span></p>
<p class="c1 c26"><span class="c5">Qu’est-ce que tu mets quand tu vas à l’école?</span></p>
<p class="c1 c26"><span class="c5">Qu’est-ce que tu mets quand tu vas jouer dans la cour?</span></p>
<p class="c1 c26"><span class="c5">Qu’est-ce que tu mets quand tu veux aider ta mère?</span></p>
<p class="c1 c12 c4"><span class="c5 c11"></span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c5 c11 c13">Уважаемые коллеги! Просьба оформить правило 2 как показано в учебнике на стр. 37 </span>
    </li>
</ul>
<p class="c1 c4"><span class="c5 c11 c13"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Termine les phrases:</span></p>
<p class="c1"><span class="c5">Pour dessiner, je prends des crayons de couleur,</span></p>
<p class="c1"><span class="c5">tu _____________________,</span></p>
<p class="c1"><span class="c5">ils ______________________,</span></p>
<p class="c1"><span class="c5">Pour écrire, nous prenons des cahiers,</span></p>
<p class="c1"><span class="c5">vous ____________________,</span></p>
<p class="c1"><span class="c5">elle _____________________.</span></p>
<p class="c1"><span class="c5">Pour jouer, ils prennent un ballon,</span></p>
<p class="c1"><span class="c5">nous _____________________,</span></p>
<p class="c1"><span class="c5">il _________________________.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c11">____________________</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Lecture 2 </span><span class="c2 c13 c36">(в качестве рисунка к разделу взять рис. из учебника со с. </span><span
        class="c2 c11 c13">8</span><span class="c2 c13 c36">) </span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">Le petit malade</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Le médecin:</span><span
        class="c5">&nbsp;C’est ici, madame, qu’il y a un petit malade?</span></p>
<p class="c1"><span class="c2">Madame:</span><span class="c5">&nbsp;Oui, docteur. C’est mon petit garçon. Je ne sais pas ce qu’il a: ce matin, il tombe tout le temps.</span>
</p>
<p class="c1"><span class="c2">Le médecin: </span><span class="c5">Il tombe? Et quel âge a-t-il?</span></p>
<p class="c1"><span class="c2">Madame:</span><span class="c5">&nbsp;Quatre ans.</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;A cet âge, il doit bien marcher…</span></p>
<p class="c1"><span class="c2">Madame:</span><span class="c5">&nbsp;Hier soir, il a très bien marché… Ce matin je l’habille: je lui mets sa chemise, je lui mets son pantalon, et je le mets sur ses jambes. Pouf! Il tombe!</span>
</p>
<p class="c1"><span class="c5">Je le relève… Pouf! Il tombe encore une fois. Je le relève… Pouf! Par terre! Et comme ça sept ou huit fois de suite…</span>
</p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Je vais examiner le petit malade. Mettez-le debout, je vous prie. (L’enfant tombe.) Encore une fois, s’il vous plaît! (L’enfant tombe de nouveau.) Dis-moi, mon petit, tu as mal au pied?</span>
</p>
<p class="c1"><span class="c2">Toto:</span><span class="c5">&nbsp;Non, monsieur.</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Tu n’as pas mal à la tête?</span></p>
<p class="c1"><span class="c2">Toto:</span><span class="c5">&nbsp;Non, monsieur.</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Et tu as bon appétit, ce matin?</span></p>
<p class="c1"><span class="c2">Toto:</span><span class="c5">&nbsp;Oui, monsieur.</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Alors… Ce doit être de la paralysie…</span></p>
<p class="c1"><span class="c2">Madame:</span><span class="c5">&nbsp;Ah!</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Hélas! oui, madame. (Il regarde Toto, et tout à coup il s’écrie.) Ah ça!... Ah ça!... mais... Qui est-ce qui parle de paralysie?...</span>
</p>
<p class="c1"><span class="c2">Madame:</span><span class="c5">&nbsp;Mais, docteur...</span></p>
<p class="c1"><span class="c2">Le médecin:</span><span class="c5">&nbsp;Je vois maintenant pourquoi le petit ne peut pas tenir sur ses jambes: ses deux jambes sont dans la même jambe du pantalon!</span>
</p>
<p class="c1 c18"><span class="c3">D’après G. Courteline</span></p>
<p class="c1 c18 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 02 (17) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Lisez ce texte et dites en russe pourquoi Toto tombe.</span>
</p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Lisez la scène «Le petit malade» à haute voix.</span>
</p>
<p class="c1"><span class="c5">Un garçon lit pour le docteur, un autre pour Toto, une fillette lit pour maman.</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2 c6"></span></p>
<p class="c1"><span class="c2 c7">Иконка2 </span></p>
<p class="c1"><span class="c0">Тип: Разыграйте сценку</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2 c8">Jouez les scènes</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1"><span class="c2">Lisez la scène «Le petit malade» à haute voix.</span></p>
<p class="c1"><span class="c5">Un garçon lit pour le docteur, un autre pour Toto, une fillette lit pour maman.</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1"><span class="c2 c7">Иконка 3 </span></p>
<p class="c1"><span class="c0">Тип: Разыграйте сценку</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2 c8">Jouez les scènes</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1"><span class="c2">a) Lis le petit texte:</span></p>
<p class="c1"><span class="c5">Qu’est-ce qu’il a, André? Il n’a pas mangé à midi. Il ne veut pas jouer avec ses copains Frédéric et Michel. Il a mal à la tête. Il a mal à la gorge. Maman le met</span>
</p>
<p class="c1"><span class="c5">au lit. Il doit garder le lit pendant deux jours. Sa soeur Sophie rit: «C’est dommage! Nous sommes vendredi. Donc, lundi tu dois de nouveau aller à l’école!»</span>
</p>
<p class="c1"><span class="c5">b) </span><span class="c2">Jouez cette petite scène.</span><span class="c5">&nbsp;Ajoutez encore quelques répliques avec </span><span
        class="c2">avoir mal au ventre, au dos, aux oreilles, au nez.</span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Révision </span><span class="c2 c23 c13">(в качестве рисунка взять фото из печатного учебника на стр.27 – фото девочки)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Faites un dialogue: posez à votre copain ou copine des</span>
</p>
<p class="c1"><span class="c2">questions sur son frère ou sur sa sœur?</span></p>
<p class="c1"><span class="c5">As-tu un frère, une sœur? Comment s’appellent-ils? Quel âge ils ont? De quelle couleur sont leurs yeux, leurs cheveux? Comment sont leur nez, leurs oreilles, leur bouche? Tu aimes jouer avec ton frère, ta sœur? Qu’est-ce que tu fais quand ton petit frère ou ta petite sœur te pose des questions? Tu fais des jouets pour amuser ton petit frère?</span>
</p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Lisez et complétez le dialogue.</span></p>
<p class="c1"><span class="c5">— Bonjour, monsieur!</span></p>
<p class="c1"><span class="c5">— Bonjour, mon petit. Qu’est-ce que tu as?</span></p>
<p class="c1"><span class="c5">— Oh, je suis très, très malade, je ne peux pas aller à l’école.</span></p>
<p class="c1"><span class="c5">— Tu as mal à la tête?</span></p>
<p class="c1"><span class="c5">— Oui, monsieur, j’ai mal … .</span></p>
<p class="c1"><span class="c5">— Tu as mal aux dents?</span></p>
<p class="c1"><span class="c5">— Oui, monsieur, … . Et encore, j’ai … jambes.</span></p>
<p class="c1"><span class="c5">— Sais-tu, mon garçon, comment s’appelle ta maladie?</span></p>
<p class="c1"><span class="c5">Elle s’appelle la paresse. Va à l’école! Cours vite!</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;3. Jouez cette petite scène. Ajoutez encore quelques répliques</span>
</p>
<p class="c1"><span class="c2">avec:</span></p>
<p class="c1"><span class="c5">avoir mal au ventre</span></p>
<p class="c1"><span class="c5">au dos</span></p>
<p class="c1"><span class="c5">aux oreilles</span></p>
<p class="c1"><span class="c5">au nez</span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<hr style="page-break-before:always;display:none;">
<p class="c1"><span class="c2 c11">Unité 3</span></p>
<p class="c1"><span class="c2 c7">ЦЕНТРАЛЬНОЕ ОКНО: </span><span class="c5 c7">УЧЕБНЫЙ МАТЕРИАЛ</span><span
        class="c2 c7">&nbsp;К Unité 3.</span><span class="c5 c7">&nbsp;</span></p>
<p class="c1 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c0">Главное саммари</span><span class="c5 c7 c13">&nbsp;к Unité 3. Chez nous &nbsp; </span>
</p>
<p class="c1"><span class="c5 c8">В третьем уроке вы научитесь:</span></p>
<ul class="c17 lst-kix_list_33-0 start">
    <li class="c1 c9"><span class="c5">спрашивать адрес у товарища и называть свой;</span></li>
    <li class="c1 c9"><span class="c5">&nbsp;описывать свой дом, свою комнату;</span></li>
    <li class="c1 c9"><span class="c5">&nbsp;выражать желание, возможность или невозможность что-либо сделать</span>
    </li>
</ul>
<ul class="c17 lst-kix_list_15-0">
    <li class="c1 c22"><span class="c5">&nbsp;воспринимать на слух, повторять за диктором тексты стихотворений и песен, диалоги и небольшие тексты урока</span>
    </li>
</ul>
<ul class="c17 lst-kix_list_33-0">
    <li class="c1 c9"><span class="c5">понимать передаваемую информацию по теме. Тексты «Dans la maison des Forestier», «Au grenier», «Les petits lapins dans la forêt»</span>
    </li>
    <li class="c1 c9"><span class="c5">оперировать в речи глаголами </span><span
            class="c2">vouloir и pouvoir</span><span class="c5">.</span></li>
</ul>
<p class="c1 c26"><span
        class="c5">В данном урове вы познакомитесь с типами французских домов: HLM, maison individuelle.</span></p>
<p class="c1"><span class="c2 c11 c13">Рис. со с. 53 учебника.</span></p>
<p class="c1"><span class="c5 c7 c13">МАТЕРИАЛ К </span><span class="c0">УРОКАМ</span><span class="c5 c7 c13">&nbsp;ВНУТРИ</span><span
        class="c0">&nbsp;БЛОКА 3.</span></p>
<p class="c1"><span class="c2">Lecture 1 </span><span class="c2 c11 c13">(в качестве рисунка к разделу взять рис. из печатного учебника на стр. 57 рис. слева)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">Dans la maison des Forestier</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">1. Charmes ressemble à toutes les petites villes de France. Elle a sa place centrale. La maison des Forestier est tout près de la place. C’est une vieille maison. Georges et Jeanne l’aiment beaucoup. Ils voient de loin son toit rouge, quand ils rentrent de l’école. </span>
</p>
<p class="c1"><span
        class="c2 c11 c13">Уважаемые коллеги! Просьба дать рис из печатного учебника на стр. 57 справа</span></p>
<p class="c1"><span class="c5">Georges et Jeanne ouvrent la petite porte et passent par un long couloir. Ils arrivent dans la salle de séjour.</span>
</p>
<p class="c1"><span class="c5">C’est une grande pièce. Elle a deux fenêtres avec de beaux rideaux bleus. Sous les fenêtres il y a un beau jardin avec des arbres, des légumes et des fleurs.</span>
</p>
<p class="c1"><span class="c5">2. Dans la grande salle de séjour, chacun a sa place. A droite de la fenêtre c’est le coin de Louisette: un tapis par terre pour jouer, une petite table avec un fauteuil, et contre le mur, une jolie armoire à jouets. Les bureaux de Georges et de Jeanne sont à gauche de la fenêtre. Sur le bureau de Georges il y a un ordinateur. Jeannette aime beaucoup faire ses devoirs à côté de son frère: il explique bien tout ce que Jeannette ne comprend pas. Une grande table ronde avec six chaises autour d’elle est au milieu de la salle de séjour.</span>
</p>
<p class="c1"><span
        class="c2 c11 c13">Уважаемые коллеги! Просьба дать два рисунка из печатного учебника на стр. 58</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5">3. Au premier étage de la maison, il y a trois chambres à coucher, une grande, au-dessus de la salle de séjour, c’est la chambre des parents et de Louisette. La chambre de Jeannette est très jolie. Près du lit, il y a une petite table de nuit, au mur, au-dessus du lit, il y a un beau tableau. Par la fenêtre de sa chambre, Jeannette voit le jardin. La chambre de Georges, qui est à côté, est petite, mais elle lui plaît beaucoup.</span>
</p>
<p class="c1"><span
        class="c2 c11 c13">Уважаемые коллеги! Просьба дать два рисунка из печатного учебника на стр. 58</span></p>
<p class="c1 c18"><span class="c3">D’après M. Reynier</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 01 (23) </span></p>
<p class="c1 c18 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c6">Задание</span><span
        class="c2">&nbsp;Trouve dans le récit sur la maison des Forestier:</span></p>
<ul class="c17 lst-kix_list_34-0 start">
    <li class="c1 c9"><span class="c5">la phrase qui dit ce que Georges et Jeanne voient de loin quand ils rentrent de l’école;</span>
    </li>
    <li class="c1 c9"><span class="c5">la phrase qui explique pourquoi Jeanne aime faire ses devoirs à côté de son frère.</span>
    </li>
</ul>
<p class="c1 c12 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Poésie</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 05 (27) </span></p>
<p class="c1 c14 c4"><span class="c2 c6"></span></p>
<p class="c1 c14"><span class="c2">Comptine</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c5">Dans la rue des Quatre Oursons,</span></p>
<p class="c1 c14"><span class="c5">La maison est en carton,</span></p>
<p class="c1 c14"><span class="c5">L’escalier est en papier.</span></p>
<p class="c1 c14"><span class="c5">Le facteur y est monté,</span></p>
<p class="c1 c14"><span class="c5">Il s’est cassé le bout du nez.</span></p>
<p class="c1 c12"><span class="c2 c11">Дать илл. со с. 60— оформить как в учебнике на с.60</span></p>
<p class="c1 c12 c4"><span class="c2 c7"></span></p>
<p class="c1 c12 c4"><span class="c2 c7"></span></p>
<p class="c1 c12"><span class="c2 c7">Иконка 3 </span></p>
<p class="c1 c12"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1 c12"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Grammaire</span><span class="c2 c7">&nbsp;</span><span class="c2">1</span><span
        class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c2 c11 c13">Уважаемые коллеги! Просьба оформить правило 1 как показано в учебнике на стр. 61</span>
    </li>
</ul>
<p class="c1 c12"><span class="c0">Задание.</span><span class="c2 c6">&nbsp;</span><span class="c2">Mets les verbes entre ai savant à l’impératif:</span>
</p>
<p class="c1 c12"><span class="c5">Trois hommes habitant cette maison. L’homme qui habite l’appartement à gauche ne peut pas ouvrir sa porte. Il dit à son ami de l’appartement au centre:</span>
</p>
<p class="c1 c12"><span class="c5">— Georges, </span><span class="c2">(ouvrir)</span><span
        class="c5">&nbsp;ma porte!</span></p>
<p class="c1 c12"><span class="c5">Georges ouvre la porte de Paul. Paul dit à ses deux voisins:</span></p>
<p class="c1 c12"><span class="c5">— </span><span class="c2">(Entrer)</span><span
        class="c5">&nbsp;chez moi, </span><span class="c2">(regarder)</span><span class="c5">&nbsp;mon nouveau buffet. Robert, qui habite l’appartement n°3, trouve que le jardin près de leur maison n’est pas assez joli. Il dit:</span>
</p>
<p class="c1 c12"><span class="c5">— Chers voisins, </span><span class="c2">(travailler)</span><span class="c5">&nbsp;dans notre jardin! Pour 3&nbsp;hommes forts c’est un travail facile.</span>
</p>
<p class="c1 c12 c4"><span class="c2 c11"></span></p>
<p class="c1 c12"><span class="c2 c7">Иконка 4 </span></p>
<p class="c1 c12"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1 c12"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Grammaire</span><span class="c2 c7">&nbsp;</span><span class="c2">2</span><span
        class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c2 c11 c13">Уважаемые коллеги! Просьба оформить правило как показано в учебнике на стр. 62</span>
    </li>
</ul>
<p class="c1 c12"><span class="c0">Задание.</span><span class="c2 c6">&nbsp;</span><span class="c2">Mets le verbe vouloir dans toutes les phrases à la forme</span>
</p>
<p class="c1 c12"><span class="c2">qui convient:</span></p>
<p class="c1 c10"><span class="c2">Ils veulent voir le monde</span></p>
<p class="c1 c12"><span class="c5">Qui veut aller à Marseille?</span></p>
<p class="c1 c12"><span class="c5">— Merci, mais moi, je … aller à Moscou.</span></p>
<p class="c1 c12"><span class="c5">— Nous … aller à Saint-Pétersbourg.</span></p>
<p class="c1 c12"><span class="c5">— Claude … aller en Afrique.</span></p>
<p class="c1 c12"><span class="c5">— Les Forestier … aller en Bulgarie.</span></p>
<p class="c1 c12"><span class="c5">— Jacqueline, tu … aller à Marseille?</span></p>
<p class="c1 c12"><span class="c5">— Oui, merci! ai savant cela, je … aller à Toulouse.</span></p>
<p class="c1 c12"><span class="c5">Jean dit que c’est une très jolie ville.</span></p>
<hr style="page-break-before:always;display:none;">
<p class="c1 c12 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 5 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Chanson</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 07 (29) </span></p>
<p class="c1 c10 c4"><span class="c2"></span></p>
<p class="c1 c10"><span class="c2">Le grand cerf</span></p>
<p class="c1 c10 c4"><span class="c2"></span></p>
<p class="c1 c10"><span class="c5">Le grand cerf dans sa maison</span></p>
<p class="c1 c10"><span class="c5">Regardait par la fenêtre</span></p>
<p class="c1 c10"><span class="c5">Un lapin venir à lui</span></p>
<p class="c1 c10"><span class="c5">Et frapper à l’huis.</span></p>
<p class="c1 c10 c4"><span class="c5"></span></p>
<p class="c1 c10"><span class="c5">«Cerf, cerf, ouvre-moi,</span></p>
<p class="c1 c10"><span class="c5">Ou le chasseur me tuera!»</span></p>
<p class="c1 c10"><span class="c5">«Lapin, lapin, entre et viens</span></p>
<p class="c1 c10"><span class="c5">Me serrer la main!»</span></p>
<p class="c1 c10 c4"><span class="c5"></span></p>
<p class="c1 c10"><span class="c5">Le pauvre lapin entra,</span></p>
<p class="c1 c10"><span class="c5">Mais la queue dehors resta.</span></p>
<p class="c1 c10"><span class="c5">Le méchant chasseur tira.</span></p>
<p class="c1 c10"><span class="c5">Boum! La lui coupa.</span></p>
<p class="c1 c10 c4"><span class="c5"></span></p>
<p class="c1 c10"><span class="c5">Ah! Ah! Et voilà,</span></p>
<p class="c1 c10"><span class="c5">Et voilà maintenant pourquoi</span></p>
<p class="c1 c10"><span class="c5">Le lapin n’a pas de queue:</span></p>
<p class="c1 c10"><span class="c5">L’chasseur la coupa.</span></p>
<p class="c1"><span class="c2 c11">Дать илл. со с.65 — оформить как в учебнике на с.</span></p>
<p class="c1 c10 c4"><span class="c5"></span></p>
<p class="c1 c10 c4"><span class="c5 c11"></span></p>
<p class="c1 c12"><span class="c2 c11">______________</span></p>
<p class="c1"><span class="c2">Lecture 2</span><span class="c5 c8">&nbsp;</span><span class="c2 c6">( </span><span
        class="c2 c11 c13">в качестве рис. к разделу взять рис. 10 сверху)</span></p>
<p class="c1"><span class="c2 c11">Подрис подпись:</span><span class="c2">&nbsp;Lecture 2</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">Au grenier</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">Voici le mois de novembre. Il commence à faire froid. Il pleut souvent. Les enfants ne peuvent plus jouer au jardin. Que faire?</span>
</p>
<p class="c1"><span class="c5">— Ecoutez, dit André. J’ai une idée: allons jouer au grenier!</span></p>
<p class="c1"><span class="c5">Les enfants montent au grenier. Ce grenier est plein de vieux meubles.</span></p>
<p class="c1"><span class="c5">— Jouons à cache-cache! propose Louis. Georges, tu fermes les yeux, nous nous cachons, et puis tu nous cherches.</span>
</p>
<p class="c1"><span class="c5">Georges ferme les yeux. Jeanne se cache sous une vieille table. Annette entre dans une armoire. Louis se cache derrière un fauteuil qui n’a que trois pieds.</span>
</p>
<p class="c1"><span class="c5">André se cache dans une grande caisse vide. </span></p>
<p class="c1"><span class="c5">— Hou! Hou! Cherche-nous! crient les enfants.</span></p>
<p class="c1"><span class="c5">Georges cherche sous les fauteuils, et il trouve Louis.</span></p>
<p class="c1"><span class="c5">Il ouvre le grand buffet: personne! Mais, dans l’armoire, il trouve Annette. Sous la table, il trouve Jeanne. Mais où se cache André? Enfin! Le voilà dans la caisse.</span>
</p>
<p class="c1"><span class="c5">Tout à coup les enfants entendent un léger bruit:</span></p>
<p class="c1"><span class="c5">— Cr… crr… crr…</span></p>
<p class="c1"><span class="c5">— Qu’est-ce que c’est? demande Georges.</span></p>
<p class="c1"><span class="c5">— Oh, c’est une souris! explique André.</span></p>
<p class="c1"><span class="c5">— Une souris!.. Descendons, descendons vite, s’écrient</span></p>
<p class="c1"><span class="c5">les fillettes qui ont peur des souris.</span></p>
<p class="c1 c18"><span class="c3">D’après M. Reynier</span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte </span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span></p>
<p class="c1"><span class="c0">Аудиотрек 09 (31) </span></p>
<p class="c1"><span class="c2">Lis le récit et dis en russe: pourquoi les enfants s’arrêtent de jouer et descendent du grenier.</span>
</p>
<p class="c1"><span class="c2 c11">Небольшой по объёму текст, рекомендуется дополнить иллюстрацией</span></p>
<p class="c1 c4"><span class="c2 c11"></span></p>
<p class="c1 c4"><span class="c2 c11"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: Разыграйте сценку</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2 c8">Jouez les scènes</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<p class="c1"><span class="c2">Lisez le dialogue. Jouez cette scène.</span></p>
<p class="c1"><span class="c5">— Viens chez nous, Rosine! Nous avons un nouvel appartement.</span></p>
<p class="c1"><span class="c5">— Oh! là! là! Mais c’est très bien! Tu as une jolie chambre!</span></p>
<p class="c1"><span class="c5">— Oui, elle est petite, mais jolie. Et puis, il y a assez de place pour ma tortue et ma souris blanche.</span>
</p>
<p class="c1"><span class="c5">— Une souris blanche! Une tortue! Ce n’est pas une chambre, c’est un zoo! Ecoute, Colette, tu habites maintenant loin de l’école.</span>
</p>
<p class="c1"><span class="c5">— Mais pas du tout. C’est tout près du métro. Alors, tu viens?</span></p>
<p class="c1"><span class="c5">— Merci, je viens sans faute (непременно).</span></p>
<p class="c1"><span class="c2 c11">________________</span></p>
<p class="c1 c18 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Lecture 3</span><span class="c5 c8">&nbsp;</span><span class="c2 c6">(в качестве рис. к разделу взять рис. 69 внизу)</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c2">Les petits lapins dans la forêt</span></p>
<p class="c1"><span class="c5">Dans cette petite maison habite une famille de lapins: maman, madame Lapinois et ses trois fils&nbsp;— Lapino, Lapinès et Lapinéto.</span>
</p>
<p class="c1"><span class="c5">Maman leur dit toujours d’être poli! Un jour madame Lapinois va au magasin. Et les trios frères courent dans la forêt. Il fait bon dans la forêt! Les lapins jouent à cache-cache dans l’herbe.</span>
</p>
<p class="c1"><span
        class="c5">Mais, tout à coup, le soleil se cache derrière les arbres, et la jolie forêt devient</span></p>
<p class="c1"><span class="c5">très noire.</span></p>
<p class="c1"><span class="c5">Lapinéto commence à pleurer.</span></p>
<p class="c1"><span class="c5">— Il fait tout noir et froid ici! J’ai peur! Je veux rentrer à la maison!</span></p>
<p class="c1"><span class="c5">— La maison est très loin! J’ai peur de marcher dans la forêt noire.</span></p>
<p class="c1"><span class="c5">— Nous attendons le matin dans cette grotte.</span></p>
<p class="c1 c12 c4"><span class="c2 c11"></span></p>
<p class="c1 c12"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1 c12"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1 c12"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte </span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span></p>
<p class="c1 c12"><span class="c0">Аудиотрек 10 (32) </span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Choisis la bonne réponse:</span></p>
<p class="c1"><span class="c5">Pourquoi est-ce que Lapinéto pleure?</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c5">Il a mal à la patte. </span></li>
    <li class="c1 c20"><span class="c5">Il a peur.</span></li>
</ul>
<p class="c1"><span class="c5">Pourquoi est-ce qu’il a peur?</span></p>
<ul class="c17 lst-kix_list_35-0 start">
    <li class="c1 c9"><span class="c5">Il voit un loup. </span></li>
    <li class="c1 c9"><span class="c5">Il fait noir dans la forêt.</span></li>
</ul>
<p class="c1"><span class="c5">Pourquoi est-ce que madame Lapinois est contente de son petit Lapinéto?</span></p>
<ul class="c17 lst-kix_list_36-0 start">
    <li class="c1 c9"><span class="c5">Il court vite. </span></li>
    <li class="c1 c9"><span class="c5">Il est poli.</span></li>
</ul>
<p class="c1 c4"><span class="c2 c11"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: Разыграйте сценку</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2 c8">Jouez les scènes</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<p class="c1 c12"><span class="c2">Lisez la scène dans la forêt.</span></p>
<p class="c1 c12"><span class="c2">Lapinéto</span><span class="c5">: Regardez, mes frères, il fait tout noir et froid ici! J’ai peur! Je veux rentrer à la maison!</span>
</p>
<p class="c1 c12"><span class="c2">Lapinès: </span><span class="c5">Mais la maison est très loin! J’ai peur de marcher dans la forêt noire.</span>
</p>
<p class="c1 c12"><span class="c2">Lapino:</span><span
        class="c5">&nbsp;Nous attendons le matin dans cette grotte.</span></p>
<p class="c1 c12"><span class="c2">Lapinéto</span><span class="c5">: Une minute, frères, n’entrez pas! Il faut être poli! Demandons la permission avant d’entrer!</span>
</p>
<p class="c1 c12"><span class="c2">Lapino:</span><span class="c5">&nbsp;A qui veux-tu demander la permission?</span></p>
<p class="c1 c12"><span class="c2">Lapinéto:</span><span class="c5">&nbsp;Comment, à qui?... Mais à la grotte! Bonsoir, madame la Grotte! Nous sommes trois pauvres lapins.</span>
</p>
<p class="c1 c12"><span class="c5">Pouvons-nous passer la nuit sous votre toit?</span></p>
<p class="c1 c12"><span class="c5">Le serpent: Bien s-s-sûr! Bien s-s-sûr!</span></p>
<p class="c1 c12"><span class="c2">Lapinéto:</span><span class="c5">&nbsp;Merci beaucoup, madame la Grotte! Je vais chercher mes frères!</span>
</p>
<p class="c1 c12"><span class="c5">Le serpent: S-s-s-s’il vous plaît!</span></p>
<p class="c1 c12"><span class="c2">Lapinéto:</span><span
        class="c5">&nbsp;Courons à la maison, frères! Vite, vite!</span></p>
<p class="c1 c12 c4"><span class="c2 c24 c11"></span></p>
<p class="c1 c12"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Révision </span><span class="c2 c23 c13">(в качестве рисунка взять фото из печатного учебника на стр. 28, фото мальчика сверху)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c6">Задание</span><span class="c2">&nbsp;Dictée préparée</span></p>
<ul class="c17 lst-kix_list_37-0 start">
    <li class="c1 c9"><span class="c5">Notre maison est vieille. Elle est tout près de la place centrale. La salle de séjour est une grande pièce. Sous les fenêtres il y a un beau jardin avec des fleurs et des légumes.</span>
    </li>
    <li class="c1 c9"><span class="c5">Dans la salle de séjour chaque enfant a son coin. Au milieu de cette grande pièce il y a une table ronde avec six chaises. Ma chambre est petite, mais très jolie. Près du lit il y a un tapis et au mur il y a un beau tableau.</span>
    </li>
</ul>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<ul class="c17 lst-kix_list_34-0">
    <li class="c1 c9"><span class="c2 c11">Unité 4</span></li>
</ul>
<p class="c1"><span class="c2 c7">ЦЕНТРАЛЬНОЕ ОКНО: </span><span class="c5 c7">УЧЕБНЫЙ МАТЕРИАЛ</span><span
        class="c2 c7">&nbsp;К Unité 4.</span><span class="c5 c7">&nbsp;</span></p>
<p class="c1 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c0">Главное саммари</span><span
        class="c5 c7 c13">&nbsp;к Unité 4. A table &nbsp; &nbsp; </span></p>
<p class="c1"><span class="c5 c8">В четвертом уроке вы научитесь:</span></p>
<p class="c1"><span class="c5">● попросить поесть;</span></p>
<p class="c1"><span class="c5">● расспрашивать друга о том, что он любит есть, какое у него меню на завтрак, на обед и на ужин;</span>
</p>
<p class="c1"><span class="c5">● рассказывать о своём завтраке, обеде и ужине;</span></p>
<p class="c1"><span class="c5">● воспринимать на слух, повторять за диктором тексты стихотворений и песен, диалоги и небольшие тексты урока;</span>
</p>
<p class="c1"><span class="c5">● понимать передаваемую информацию по теме. Тексты «Maman met la table», «Le petit déjeuner», «Le menu français»;</span>
</p>
<p class="c1"><span class="c5">● узнавать и использовать в речи настоящее время глаголов </span><span class="c2">voir, comprendre, prendre.</span>
</p>
<p class="c1"><span class="c5">В настоящем уроке вы познакомитесь </span><span class="c2">с </span><span class="c5">традиционными французскими блюдами.</span>
</p>
<p class="c1"><span class="c2 c11 c13">Рис. со с. 74 учебника.</span></p>
<p class="c1 c4"><span class="c5 c11"></span></p>
<p class="c1"><span class="c5 c7 c13">&nbsp;МАТЕРИАЛ К </span><span class="c0">УРОКАМ</span><span class="c5 c7 c13">&nbsp;ВНУТРИ</span><span
        class="c0">&nbsp;БЛОКА 4.</span></p>
<p class="c1 c4"><span class="c2 c23 c13"></span></p>
<p class="c1"><span class="c2">Lecture 1</span><span class="c5 c8">&nbsp;</span><span class="c2 c11 c13">(в качестве рисунка к разделу взять рис. из печатного учебника на стр. 78)</span>
</p>
<p class="c1 c10"><span class="c2">Maman met la table</span></p>
<p class="c1 c10 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">Avant le repas, maman met la table dans la salle de séjour. Sur la table elle met une nappe blanche. Elle met une assiette à chaque place. A droite de l’assiette, elle met un couteau, et quand il y a de la soupe, elle met aussi une cuillère. A gauche, elle met une fourchette. Elle met devant l’assiette un grand verre pour boire de l’eau.</span>
</p>
<p class="c1"><span class="c5">Chaque personne a une serviette. Maman met aussi sur la table une corbeille à pain avec du pain, du sel dans la salière et une bouteille d’eau minérale.</span>
</p>
<p class="c1"><span class="c5">Tout est prêt. Paul a 6 ans. Il n’a pas de frère, il n’a pas de sœur. Il reste seul quand sa maman est au travail. Il veut lui préparer une surprise: mettre la table pour le déjeuner. Dis-lui ce qu’il faut faire pour cela:</span>
</p>
<p class="c1 c12"><span class="c5">— Prends une nappe! Mets la nappe sur la table!</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 01 (34) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Lis le texte et trouve sur l’image un détail qui n’est pas juste:</span>
</p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Raconte comment tu mets la table:</span></p>
<p class="c1"><span class="c5">«D’abord, je prends une nappe (blanche? rose? jaune?). Je mets la nappe sur la table. Puis, je mets une assiette à chaque place…»</span>
</p>
<p class="c1"><span class="c5">Qu’est-ce que tu fais après cela?</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c2 c11 c13">Уважаемые коллеги! Просьба оформить правило 1 как показано в учебнике на стр. 79</span>
    </li>
</ul>
<p class="c1 c12"><span class="c5 c11">&nbsp;</span></p>
<p class="c1 c26"><span class="c2 c6">Задание </span><span
        class="c2">Rémi Dubois vient pour la première fois à Moscou.</span></p>
<p class="c1 c26"><span class="c2">Tout l’intéresse. Il écrit une lettre à ses parents. Voici quelques phrases de cette lettre. Mettez les verbes qui manquent à la place des carrés jaunes:</span>
</p>
<p class="c1 c26 c4"><span class="c2"></span></p>
<p class="c1 c26 c14"><span class="c5">fait &nbsp; &nbsp; travaille &nbsp; &nbsp; lit &nbsp; &nbsp; aime &nbsp; &nbsp; mange</span>
</p>
<p class="c1 c26 c14"><span
        class="c5">s’amuse &nbsp; &nbsp;prend &nbsp; &nbsp;joue &nbsp; &nbsp;apprend &nbsp; court</span></p>
<p class="c1 c26 c14 c4"><span class="c5"></span></p>
<p class="c1 c26"><span class="c5">On … trois fois par jour, comme chez nous. Mais on ne … pas le déjeuner à midi (в полдень). On … lire à Moscou. On … dans le métro. Toute l’année on … du sport: on … au volley-ball et au tennis, on … au foot-ball. On … le français dans beaucoup d’écoles. On … avec plaisir et on bien.</span>
</p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 3 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Chanson</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 03 (36) </span></p>
<p class="c1"><span class="c3">Paroles de J. Ruelle, musique de L. Lemoine</span></p>
<p class="c1 c4"><span class="c3"></span></p>
<p class="c1 c14"><span class="c2">Contrastes</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c5">Un, deux, trois,</span></p>
<p class="c1 c14"><span class="c5">Chaud n’est pas froid.</span></p>
<p class="c1 c14"><span class="c5">Froid n’est pas chaud,</span></p>
<p class="c1 c14"><span class="c5">Bas n’est pas haut,</span></p>
<p class="c1 c14"><span class="c5">Petit n’est pas grand,</span></p>
<p class="c1 c14"><span class="c5">Noir n’est pas blanc.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Un, deux, trois,</span></p>
<p class="c1 c14"><span class="c5">Chaud n’est pas froid,</span></p>
<p class="c1 c14"><span class="c5">Mal n’est pas bien, </span></p>
<p class="c1 c14"><span class="c5">Pied n’est pas main,</span></p>
<p class="c1 c14"><span class="c5">Porte n’est pas mur, </span></p>
<p class="c1 c14"><span class="c5">Sous n’est pas sur.</span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c5">Un, deux, trois,</span></p>
<p class="c1 c14"><span class="c5">Chaud n’est pas froid.</span></p>
<p class="c1 c14"><span class="c5">Nuit n’est pas jour,</span></p>
<p class="c1 c14"><span class="c5">Long n’est pas court,</span></p>
<p class="c1 c14"><span class="c5">Loin n’est pas près,</span></p>
<p class="c1 c14"><span class="c5">Dormez en paix!</span></p>
<p class="c1 c4"><span class="c5 c11 c13"></span></p>
<p class="c1 c14 c4"><span class="c5"></span></p>
<p class="c1 c14"><span class="c2 c11">______________________________</span></p>
<p class="c1"><span class="c2">Lecture 2</span><span class="c5 c8">&nbsp;</span><span class="c2 c23 c13">(в качестве рисунка к разделу взять илл из печатного учебника на стр. 75 (чашечку кофе, круассан, тарелочку с сыром)</span>
</p>
<p class="c1 c14"><span class="c2">Le menu français</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">&nbsp;Les Français mangent trois fois par jour. Le matin, à sept heures ou huit heures, ils prennent leur petit déjeuner. On prend alors une tasse de café au lait ou une tasse de thé avec des petits pains. Sur la table, il y a aussi du beurre et de la confiture.</span>
</p>
<p class="c1"><span class="c5">A midi, on sert le déjeuner. On mange alors de la viande, du poisson ou des œufs et de la salade. Les Français aiment beaucoup les salades. A midi, les Français ne mangent pas de soupe. Puis, on mange du fromage. Comme dessert, on mange des fruits ou des gâteaux. Pour finir, on prend une petite tasse de café.</span>
</p>
<p class="c1"><span class="c5">A quatre heures, les enfants prennent une tasse de lait ou de chocolat avec du pain. C’est le goûter. A sept heures et demie du soir, on sert le dîner. Une soupe, de la viande avec de la salade, des légumes; voilà le menu du dîner. Pour finir, on mange encore du fromage, parce que les Français mangent beaucoup de fromage.</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 05 (38) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Lis le texte et dis: qu’est-ce que les enfants mangent après l’école, à 4 heures?</span>
</p>
<p class="c1 c4"><span class="c2 c6"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Réponds aux questions:</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c5">Combien de fois par jour mangent les Français? Quand est-ce qu’ils prennent le petit déjeuner? Qu’est-ce qu’ils prennent pour le petit déjeuner? Est-ce qu’ils mangent de la confiture au petit déjeuner?</span>
    </li>
    <li class="c1 c20"><span class="c5">A quelle heure les Français déjeunent? Qu’est-ce qu’on mange alors? Est-ce que les Français aiment la salade? Qu’est-ce qu’on mange comme dessert? Est-ce que les Français mangent de la soupe à midi? A quelle heure est-ce qu’on sert le dîner? Qu’est-ce qu’on sert en France à la fin du dîner?</span>
    </li>
</ul>
<p class="c1 c14 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c2 c11 c13">Уважаемые коллеги! Просьба оформить правило 1 как показано в учебнике на стр. 83 </span>
    </li>
</ul>
<p class="c1"><span class="c2 c11">______________________</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Lecture 3</span><span class="c5 c8">&nbsp;</span><span class="c2 c23 c13">(</span><span
        class="c2 c11 c13">в качестве рисунка к разделу взять рис. из печатного учебника на стр. 81)</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">Le petit déjeuner</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2">Maman:</span><span class="c5">&nbsp;Michel! Paul! Catherine! Venez déjeuner!</span></p>
<p class="c1"><span class="c2">Paul:</span><span class="c5">&nbsp;Oh! Comme j’ai faim!</span></p>
<p class="c1"><span class="c2">Maman:</span><span class="c5">&nbsp;Catherine, donne-moi ta tasse.</span></p>
<p class="c1"><span class="c2">Catherine:</span><span class="c5">&nbsp;Maman, je n’ai pas de cuillère.</span></p>
<p class="c1"><span class="c2">Maman:</span><span
        class="c5">&nbsp;Regarde bien. Elle est près du couteau de ton père.</span></p>
<p class="c1"><span class="c2">Paul:</span><span
        class="c5">&nbsp;Maman, je peux avoir encore un peu de thé au lait?</span></p>
<p class="c1"><span class="c2">Maman:</span><span class="c5">&nbsp;Si tu veux.</span></p>
<p class="c1"><span class="c2">Papa:</span><span class="c5">&nbsp;Catherine, passe-moi le pain et le beurre. Tu ne manges pas?</span>
</p>
<p class="c1"><span class="c2">Catherine:</span><span class="c5">&nbsp;Je n’ai pas faim, papa.</span></p>
<p class="c1"><span class="c2">Papa:</span><span class="c5">&nbsp;Qu’est-ce que tu as, Catherine? Tu es malade? Tu as froid?</span>
</p>
<p class="c1"><span class="c2">Catherine:</span><span class="c5">&nbsp;Non, papa! Je n’ai pas froid, je ne suis pas malade.</span>
</p>
<p class="c1"><span class="c2">Maman:</span><span class="c5">&nbsp;Alors, prends ton déjeuner et habille-toi pour aller à l’école.</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 07 (40) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Lisez ce dialogue à quatre (вчетвером).</span>
</p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Réponds aux questions:</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c5">A quelle heure tu as déjeuné ce matin? Qu’est-ce que tu prends pour le petit déjeuner: une tasse de thé? un verre de lait? une tasse de café au lait? Combien de morceaux de sucre mets-tu dans ton thé? Tu manges des œufs ou une omelette? Tu aimes la confiture? Combien de tartines tu as mangées aujourd’hui?</span>
    </li>
    <li class="c1 c20"><span class="c5">Vous avez un goûter à l’école? Qu’est-ce que tu prends quand tu as faim? Quand est-ce qu’on dîne chez vous? Est-ce que toute la famille est à table? Tu aimes la soupe? Qu’est-ce que vous prenez comme dessert? Tu aimes la compote? Quels fruits aimes-tu mieux: les pommes, les oranges ou les bananes? Est-ce que vous mangez beaucoup de fromage? Qui a lavé hier les assiettes après le dîner?</span>
    </li>
</ul>
<p class="c1 c12 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1"><span class="c2">Révision </span><span class="c2 c23 c13">(</span><span class="c2 c11 c13">в качестве рисунка взять фото из печатного учебника на стр. 28, фото мальчика в середине полосы)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;1. Dis ce que tu vois sur ces images. Invente (придумай) une histoire avec ces mots.</span>
</p>
<p class="c1"><span class="c2 c11 c13">Дать восемь илл. из учебника на стр. 91 упр. 23</span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;2. Fais entrer (вставь) dans ton histoire les expressions: avoir faim et manger du saucisson (du poisson).</span>
</p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c2 c11"></span></p>
<p class="c1"><span class="c2 c11">Unité 5</span></p>
<p class="c1"><span class="c2 c7">ЦЕНТРАЛЬНОЕ ОКНО: </span><span class="c5 c7">УЧЕБНЫЙ МАТЕРИАЛ</span><span
        class="c2 c7">&nbsp;К Unité 5.</span><span class="c5 c7">&nbsp;</span></p>
<p class="c1 c4"><span class="c5 c7"></span></p>
<p class="c1"><span class="c0">Главное саммари</span><span
        class="c5 c7 c13">&nbsp;к Unité 5. Du matin jusqu’au soir!</span></p>
<p class="c1"><span class="c5 c8">В пятом уроке вы научитесь:</span></p>
<p class="c1"><span class="c5">&nbsp;● спрашивать и сказать, который час;</span></p>
<p class="c1"><span class="c5">● рассказывать о своих занятиях в определённое время;</span></p>
<p class="c1"><span class="c5">● выражать удовольствие или неудовольствие;</span></p>
<p class="c1"><span class="c5">● воспринимать на слух, повторять за диктором тексты стихотворений и песен, диалоги и небольшие тексты;</span>
</p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c5">понимать передаваемую информацию по теме. Тексты «La journée de Pierre», «Au téléphone», «La montre»;</span>
    </li>
    <li class="c1 c20"><span class="c5">узнавать и использовать в речи present, passé composé и impératif возвратных глаголов.</span>
    </li>
</ul>
<p class="c1"><span class="c5">В настоящем уроке вы познакомитесь с учебным днём французского школьника.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c0">Рис. со с. 92 учебника.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5 c7 c13">&nbsp;МАТЕРИАЛ К </span><span class="c0">УРОКАМ</span><span class="c5 c7 c13">&nbsp;ВНУТРИ</span><span
        class="c0">&nbsp;БЛОКА 5.</span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2">Lecture 1 </span><span class="c2 c23 c13">(</span><span class="c2 c11 c13">в качестве рисунка к разделу взять рис из печатного учебника на стр. 93 внизу)</span>
</p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1 c14"><span class="c2">La journée de Pierre</span></p>
<p class="c1 c14 c4"><span class="c2"></span></p>
<p class="c1"><span class="c5">Pierre a dix ans. Il est en classe de neuf heures à onze heures. Chaque matin, il se réveille à six heures et demie. Il se lève, il fait sa gymnastique, puis il se lave, il se brosse les dents, il se peigne, il s’habille et il fait son lit. Après le petit déjeuner, il va à l’école. A midi, il rentre à la maison. C’est le déjeuner.</span>
</p>
<p class="c1"><span class="c5">L’après-midi, Pierre est en classe de deux heures à quatre heures. A cinq heures, il joue dans la cour avec ses copains. Ils jouent aux billes ou au football. A la maison, il fait ses devoirs et apprend ses leçons. Après le dîner, Pierre dit bonsoir à ses parents et il va dans sa chambre à coucher. Il se déshabille. Il se lave et il se couche dans son lit pour dormir à dix heures.</span>
</p>
<p class="c1"><span class="c5">Mais dimanche c’est tout à fait autre chose. Pierre se lève tard, à neuf heures. Toute la journée il s’amuse avec ses amis, il joue avec sa petite sœur, il lit des livres intéressants, il se promène, il aide sa mère. Parfois, il va au cinéma.</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c5 c8">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 01 (43)</span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Lis le texte et dis: où est Pierre à 3 heures de l’après-midi?</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2 c7"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: </span><span class="c2 c7">Грамматика &nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span class="c2">Grammaire</span><span
        class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений данного типа)</span></p>
<ul class="c17 lst-kix_list_27-0">
    <li class="c1 c20"><span class="c2 c11 c13">Уважаемые коллеги! Просьба оформить правило 1 как показано в учебнике на стр. 98 до упр. 5 </span>
    </li>
</ul>
<p class="c1 c12"><span class="c5 c11">_______________</span></p>
<p class="c1 c12 c4"><span class="c5 c11"></span></p>
<p class="c1"><span class="c2">Lecture 2 </span><span class="c2 c23 c13">(</span><span class="c2 c11 c13">в качестве рисунка к разделу взять рис. из печатного учебника на стр. 105 внизу)</span>
</p>
<p class="c1 c4"><span class="c2 c23"></span></p>
<p class="c1 c14"><span class="c2">Au téléphone</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c5">C’est dimanche. Le téléphone sonne.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2">Monique:</span><span class="c5">&nbsp;Allô! Allô! Qui est à l’appareil?</span></p>
<p class="c1"><span class="c2">Yvonne:</span><span class="c5">&nbsp;Ici Yvonne. C’est toi, Monique?</span></p>
<p class="c1"><span class="c2">Monique:</span><span class="c5">&nbsp;Oui, c’est moi. Bonjour, Yvonne.</span></p>
<p class="c1"><span class="c2">Yvonne:</span><span class="c5">&nbsp;Bonjour, Monique. Que fais-tu cet après-midi?</span>
</p>
<p class="c1"><span class="c2">Monique:</span><span class="c5">&nbsp;Rien d’intéressant. Et toi?</span></p>
<p class="c1"><span class="c2">Yvonne:</span><span class="c5">&nbsp;Je vais au cinéma. Veux-tu y aller avec moi? J’ai deux billets. Au Luxembourg, on donne Harry Potter.</span>
</p>
<p class="c1"><span class="c2">Monique:</span><span class="c5">&nbsp;Oh! Merci, Yvonne.</span></p>
<p class="c1"><span class="c2">Yvonne:</span><span class="c5">&nbsp;La séance est à quatre heures. Je t’attends près du cinéma. N’arrive pas en retard!</span>
</p>
<p class="c1"><span class="c2">Monique:</span><span class="c5">&nbsp;Jamais de la vie. A quatre heures. Au revoir, Yvonne.</span>
</p>
<p class="c1"><span class="c2">Yvonne:</span><span class="c5">&nbsp;Au revoir, Monique.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 04 (46) </span></p>
<p class="c1"><span class="c2 c6">Задание 1.</span><span class="c2">&nbsp;Lisez le dialogue. Un élève lit pour Monique, un autre pour Yvonne.</span>
</p>
<p class="c1"><span class="c2 c6">Задание 2.</span><span class="c2">&nbsp;Répétez 3 fois le dialogue suivant, en remplaçant au cinema par au musée, au stade, au zoo:</span>
</p>
<p class="c1"><span class="c2">— </span><span class="c5">Vous allez au cinéma?</span></p>
<p class="c1"><span class="c5">— Oui, tu viens avec nous?</span></p>
<p class="c1"><span class="c5">— Merci, avec plaisir.</span></p>
<p class="c1 c4"><span class="c5"></span></p>
<p class="c1"><span class="c2 c11">_______________________</span></p>
<p class="c1"><span class="c2">Lecture 3 </span><span class="c2 c23 c13">(в качестве рисунка к разделу взять рис из печатного учебника на стр. 105 внизу)</span>
</p>
<p class="c1 c14"><span class="c2">La montre</span></p>
<p class="c1"><span class="c5">J’ai une montre, une montre à moi, dans ma poche. Je la tire de ma poche pour voir quelle heure il est. Ah! midi, déjà midi. Je sais qu’il est midi. Ma montre me l’a dit. Il me semble qu’une montre c’est un ami à qui l’on peut parler.</span>
</p>
<p class="c1"><span class="c5">— Quelle heure est-il, mon amie la montre?</span></p>
<p class="c1"><span class="c5">— Midi, mon cher Rémi.</span></p>
<p class="c1"><span class="c5">— Ah, midi! Alors, je dois faire ceci et cela, n’est-ce pas?</span></p>
<p class="c1"><span class="c5">— Mais bien sûr.</span></p>
<p class="c1"><span class="c5">— Sans toi, je peux l’oublier.</span></p>
<p class="c1"><span class="c5">— Je suis là, pour que tu ne l’oublies pas.</span></p>
<p class="c1"><span class="c5">J’ai eu si grande envie d’avoir une montre! Et viola que dans ma poche il y en a une qui fait tic-tac.</span>
</p>
<p class="c1 c18"><span class="c3">D’après H. Malot</span></p>
<p class="c1"><span class="c2 c7">Иконка 1 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Texte</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек 05 (47) </span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Trouve et lis à haute voix les phrases où l’on voit le mieux (в которых лучше всего видно) comme Rémi aime sa montre.</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1"><span class="c2 c7">Иконка 2 </span></p>
<p class="c1"><span class="c0">Тип: АУДИО</span><span class="c2 c7">&nbsp;</span></p>
<p class="c1"><span class="c0">Текст на иконке:</span><span class="c2 c7">&nbsp;</span><span
        class="c2">Chanson</span><span class="c2 c7">&nbsp;</span><span class="c0">(рис. единый для всех упражнений аудирования данного типа)</span>
</p>
<p class="c1"><span class="c0">Аудиотрек </span><span class="c2 c6">07 (49)</span><span class="c2 c11 c13">&nbsp;</span>
</p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1 c14"><span class="c5 c8">Au clair de la lune,</span></p>
<p class="c1 c14"><span class="c5 c8">Mon ami Pierrot,</span></p>
<p class="c1 c14"><span class="c5 c8">Prête-moi ta plume</span></p>
<p class="c1 c14"><span class="c5 c8">Pour écrire un mot.</span></p>
<p class="c1 c14 c4"><span class="c5 c8"></span></p>
<p class="c1 c14"><span class="c5 c8">Ma chandelle est morte,</span></p>
<p class="c1 c14"><span class="c5 c8">Je n’ai plus de feu,</span></p>
<p class="c1 c14"><span class="c5 c8">Ouvre-moi ta porte,</span></p>
<p class="c1 c14"><span class="c5 c8">Pour l’amour de Dieu.</span></p>
<p class="c1 c14 c4"><span class="c5 c8"></span></p>
<p class="c1 c14"><span class="c5 c8">Au clair de la lune,</span></p>
<p class="c1 c14"><span class="c5 c8">Pierrot répondit:</span></p>
<p class="c1 c14"><span class="c5 c8">«Je n’ai pas de plume,</span></p>
<p class="c1 c14"><span class="c5 c8">Je suis dans mon lit.</span></p>
<p class="c1 c4"><span class="c2 c24 c11"></span></p>
<p class="c1 c14"><span class="c5">Va chez la voisine,</span></p>
<p class="c1 c14"><span class="c5">Je crois qu’elle y est,</span></p>
<p class="c1 c14"><span class="c5">Car dans sa cuisine</span></p>
<p class="c1 c14"><span class="c5">On bat le briquet».</span></p>
<p class="c1 c14"><span
        class="c11 c43">Дать илл. со с.104-105(верхняя слева) — оформить как в учебнике &nbsp;на с. 104</span></p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1"><span class="c2">Révision </span><span class="c2 c23 c13">(</span><span class="c2 c11 c13">в качестве рисунка взять фото из печатного учебника на стр. 28, фото мальчика снизу)</span>
</p>
<p class="c1 c4"><span class="c2"></span></p>
<p class="c1"><span class="c2 c6">Задание.</span><span class="c2">&nbsp;Dictée préparée</span></p>
<p class="c1"><span class="c5">Ma journée commence à sept heures. Je me lève et fais ma gymnastique. Puis je me lave, m’habille vite, fais mon lit, et prends mon petit déjeuner. A huit heures, je pars pour l’école. De huit heures et demie à une heure de l’après-midi, je suis à l’école. Après l’école, je rentre à la maison. J’ai encore beaucoup de temps pour faire mes devoirs et me promener. Je me couche à neuf heures et demie.</span>
</p>
<p class="c1"><span class="c2 c24 c11">____</span></p>
<p class="c1 c4"><span class="c2"></span></p>
<div><p class="c19 c18 c4 c38"><span></span></p>
    <p class="c21 c38 c4 c44"><span></span></p></div>
</body>