<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-md-7 col-md-offset-1 form-group">-->
            <!--<textarea class="js-table-of-content form-control" name="" id="" cols="30" rows="20" placeholder="Table of content"></textarea>-->
        <!--</div>-->
        <!--<div class="col-md-3 form-group">-->

        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1 form-group">
            <textarea class="form-control js-document" name="" id="" cols="30" rows="40" placeholder="Document"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 form-group">
            <div class="btn-toolbar pull-right">
                <button type="button" class="js-save btn btn-success">Save</button>
                <button type="button" class="btn btn-primary">Parse</button>
            </div>
        </div>
    </div>
</div>
